@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}

.container {
  position: relative;

  overflow: hidden;
  height: 300vh;
  width: 100%;
  width: 100%;
  background: #1d1c19;
}

.navbar {
  position: absolute;
  font-family: "Bungee", cursive;
  list-style: none;
  width: 50%;
  top: 80px;
  z-index: 99;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item a {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.nav-item a:hover {
  color: #dd602f;
}

.bg-image {
  top: 400px;
  position: absolute;
  opacity: 0.1;
  width: 100%;
  height: 300vh;
}

.veer-shivaji {
  height: 450px;
  width: 300px;
}

.image {
  position: absolute;
  left: 260px;
  width: 100%;
  top: 320px;
  height: 100%;
}

.content-main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-page {
  display: flex;
  flex-direction: column;

  position: absolute;
  height: 63%;
  top: 300px;
  left: 700px;

  width: 50%;
}

.content-para {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 600px;
  height: 70%;
}

h1 {
  font-size: 64px;
  color: #b4975b;
}

h2 {
  color: #b4975b;
  font-size: 44px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtext {
  color: #df6642;
}

.military-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  line-height: 36px;
}


/* Mobile-View Here */

/* @media screen and (max-width: 1700px) {


    .content {
        width: auto;
        position: absolute;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .content h1 {
        font-size: 36px;
        width: auto;
    }

    .content p {
        font-size: 18px;
        width: auto;
        
    }
    .image {
        position: absolute;
        width: 100%;
        opacity: 0.5;
        transition: all 0.5s ease-in;
    }
    .navbar {
        width: 100%;
    }


}


@media screen and (max-width: 1000px) {
    
    .image {
        margin-top: 100px;
  
        opacity: 0.1;
    } 

    .content {
        left: 10%;
        z-index: 99;
        position: absolute;
        width: 77.5%;

    }

    .content h1 {
        font-size: 36px;
        margin-right: auto;
        margin-left: auto;
    }

    .content p {
        font-size: 18px;
        margin-right: auto;
        
    }

    .navbar {
        width: 100%;
    }



 
} */