@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
  transition: all 0.5s ease-out;
}

.container {
  position: relative;
  overflow: hidden;
  height: 300vh;
  width: 100%;
  background: #1d1c19;
  transition: all 0.5s ease-out;
}

.navbar {
  position: absolute;
  font-family: "Bungee", cursive;
  list-style: none;
  width: 50%;
  top: 80px;
  z-index: 99;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item a {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.nav-item a:hover {
  color: #dd602f;
}

.main {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.content {
  display: flex;
  position: relative;

  width: 614px;
  height: 246.64px;
  left: 270px;
  top: 417px;
  flex-direction: column;
  z-index: 99;
}

.content h1 {
  color: #dd602f;
  left: 183px;
  font-size: 64px;
  line-height: 77px;
}
.content p {
  color: #fff;
  margin-left: auto;
  font-size: 24px;
}
.btn , button{
  margin-top: auto;
  width: 269px;
  height: 67.64px;
  left: 329px;
  top: 800px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background: #ffffff;
  border-radius: 34.6082px;
}

button:hover {
  background: #131313;
  color: #fff;
}





.image {
  top: 0;

    width: 100%;
    transition: all .5s ease-out;
  
}



@media screen and (max-width: 1700px) {


    .content {
        width: auto;
        position: absolute;
        justify-content: center;
        align-content: center;
        align-items: center;
    }

    .content h1 {
        font-size: 36px;
        width: auto;
    }

    .content p {
        font-size: 18px;
        width: auto;
        
    }
    .image {
        position: absolute;
        width: 100%;
        opacity: 0.5;
        transition: all 0.5s ease-in;
    }
    .navbar {
        width: 100%;
    }


}


@media screen and (max-width: 1000px) {
    
    .image {
        margin-top: 100px;
  
        opacity: 0.1;
    } 

    .content {
        left: 10%;
        z-index: 99;
        position: absolute;
        width: 77.5%;

    }

    .content h1 {
        font-size: 36px;
        margin-right: auto;
        margin-left: auto;
    }

    .content p {
        font-size: 18px;
        margin-right: auto;
        
    }

    .navbar {
        width: 100%;
    }



 
}


/* =======================================abour.css=========================================== */
