@import url("https://fonts.googleapis.com/css2?family=Bungee&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bungee", cursive;
}

.container {
  position: relative;

  overflow: hidden;
  height: 300vh;
  width: 100%;
  width: 100%;
  background: #1d1c19;
}

.bg-image {
  top: 400px;
  position: absolute;
  opacity: 0.1;
  width: 50%;
  height: 300vh;
}
.navbar {
  position: absolute;
  font-family: "Bungee", cursive;
  list-style: none;
  width: 50%;
  top: 80px;
  z-index: 99;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-item a {
  color: #fff;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.nav-item a:hover {
  color: #dd602f;
}

.veer-shivaji {
  height: 450px;
  width: 300px;
}

.image {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  margin-top: 300px;
  margin-right: auto;
  margin-left: 15%;
  width: 100%;

}

.content-main {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-page {
  display: flex;
  flex-direction: column;

  position: absolute;
  height: 100%;
  bottom: 130px;
  left: 700px;

  width: 50%;
}

.content-para {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 600px;
  height: 70%;
}

h1 {
  font-size: 64px;
  color: #b4975b;
}

h2 {
  color: #b4975b;
  font-size: 44px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.subtext {
  color: #df6642;
}

.military-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

p {
  line-height: 36px;
}

#img-caption {
  text-decoration: none;
    color: #fff;
    justify-content: center;
    align-items: center;

}




@media screen and (max-width : 1800px) {
  .container {
    height: 500vh;
  }
  .content-page {
    /* bottom: 0; */
    top: 700px;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content-page {

  
    /* position: absolute; */
    height: 100%;
    justify-content: center;
    align-items: center;
    left: 0px;
    margin-right: auto;
    text-align: center;


    width: 100%;
  }
  
 
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .image {

    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* margin-right: auto; */
    margin-left: 10%;
    max-width: 80%;
  }

  .veer-shivaji {
    align-items: center;
    width: 50%;
    height: 50%;
  }
  .navbar {
    width: 100%;
  }


}
@media screen and ( max-width : 1450px) {

  .content-page {
    top: 600px;
  }


}


@media screen and ( max-width : 900px) {

  .content-page {
    top: 300px;
  }


}


@media screen and ( max-width : 750px) {

  .container {
    height: 700vh;
  }

  .content-page {
    /* bottom: 0; */
    top: 200px;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
 
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }

  p {
    font-size: 18px;
  }

  .image {

    width: 100%;
    height: 100%;
    margin-right: auto;
  }

  .veer-shivaji {
    width: 50%;
    height: 50%;
  }



}





